<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
        <div style="display: flex; justify-content: center; align-items: center; gap: 15px; margin-top: 2rem;">
          
          <p class="powered-by" style="margin: 0 !important;">
            © 2026 Zhang Laboratory
          </p>

          <div>
            <script type="text/javascript" id="mmvst_globe" src="//mapmyvisitors.com/globe.js?d=b8ScqYtHCkN52lRXBHbE1Il-KvS7YrTUP22iGiAMi2g"></script>
          </div>

        </div>

      </div>
    </div>
  </div>
</footer>
