<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
        <div style="display: flex; justify-content: center; align-items: center; gap: 20px; margin-top: 2rem;">
          
          <p class="powered-by" style="margin: 0 !important;">
            © 2026 Zhang Laboratory
          </p>

          <div>
            <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=iBMmoGO-73d5V2ya69oP0Y_uu9zOkoqD3SwcFkvmRec&cl=ffffff&w=a"></script>
          </div>

        </div>

      </div>
    </div>
  </div>
</footer>
